body{
    box-sizing: border-box;
    padding:0;
    margin:0;
    background-color: whitesmoke;
    font-family:'Open Sans';
}

header{
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    padding:10px;
    color:blue;
    float:right;
    font-size:30px;
}

button{
    padding:10px;
    text-decoration: none;
    border-style: none;
    background-color:blue;
    color:white;
    font-size:20px;
}

button:hover{
    background-color: rgb(238, 113, 201);
    color:black;
}

#show{
    display: none;
    font-size:25px;
}

#show:hover{
    cursor: pointer;
}

#myDropdown{
    display: none;
}

#myDropdown ul li{
    width: 100%;
    background-color: black;
    color: white;
    list-style: none;
    line-height: 50px;
    padding-left: 10%;
}

.bgimg{
    position:relative;
}

.content{
    position:absolute;
    top:2px;
    left:100px;
    right:200px;
}

.content ul{
    margin:0px auto;
    list-style-type:none;    
}

.content ul li {
    float: left;
    color:white;
    font-size: 15px;
    text-decoration: none;
    padding:20px;   
}

.content ul li:hover{
    transform: scale(1.08);
}

.middlecontent{
    position:absolute;
    top:15%;
    left:10%;
    text-align:center;
    font-size:70px;
    word-spacing: 3px;
    padding:2px;
    color:white;
}

.middlecontent:hover{
    transition:all 1s ease-in-out;
    transform: translateY(-10px);
}

.button2{
    position: absolute;
    top:75%;
    left:20%;
    background-color: rgb(51, 51, 197);
    opacity: 0.8;
    color:white;
    border-style: none;
    border-radius:10px;
    font-size:20px;
    padding:20px;
}

.button2:hover{
    background-color: rgb(150, 250, 150);
    color:black;
    transition: all 1s ease-in-out;
    transform: translateY(-8px);
}

.fitness main{
    display:grid;
    grid-template-rows: 560px;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:10px;
}

.fitness main div{
    padding:20px;
}

.fitness main div p{
    color: rgb(114, 111, 111);
    font-size: 15px;
    word-spacing: 3px;
}

.fitness{
    margin:100px 150px 100px 150px;
}

.fitness main main{
    display: grid;
    grid-template-rows: 560px;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
}

.fitness main main main{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 275px;
    grid-gap:10px;
}

.fitness main div div{
    background-color: rgb(51, 51, 197);
    opacity: 0.8;
    color:white;
    width:40%;
    border-style: none;
    text-align: center;
    padding:10px;
    margin:0px auto;
}

.yoga main{
    margin-bottom:100px;
    display:grid;
    grid-template-rows: 400px;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap:20px;
}

.yoga main div{
    background-color:white;
    border-radius: 20px;

}

.set{
    display: block;
    margin: 10px auto;
}

.yoga main div h3{
    text-align: center;
    color:black;
}

.yoga main div p{
    color:rgb(114, 111, 111);
    text-align:center;

}

.whyus{
    background-color: rgb(236, 235, 235);
}

.whyus main{
    margin:100px 150px 100px 150px;
    display:grid;
    grid-template-rows: 450px;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:20px;
}

.whyus main div main{
    margin:0;
    display: grid;
    grid-template-rows: repeat(2,70px);
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}

.whyus main img{
    padding:20px;
}

.whyus main div main h3{
    color:black;
}

.whyus main div main p{
    color: rgb(114, 111, 111);
}

.upcoming{
    margin:100px 150px 100px 150px;
}

.upcoming main{
    display:grid;
    grid-template-rows: 550px;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}

.upcoming main div{
    background-color: white;
}

.date{
    background-color: rgb(51, 51, 197);
    color:white;
    text-align: center;
}

.upcoming main div p{
    text-align: center;
    color:rgb(114, 111, 111);
}

.button3{
    border:1px solid grey;
    margin:60px;
    text-align:center;
    color: rgb(51, 51, 197);
    width:40%;
}

.button3:hover{
    background-color: rgb(51, 51, 197);
    color:white;
}

.gallery{
    margin-top:60px;
    margin-bottom:60px;
}

.gallery main{
    display: grid;
    grid-template-rows: repeat(2,200px);
    grid-template-columns: repeat(4,1fr);
}

.it{
    margin:100px 150px 100px 150px;
}

.it main{
    display: grid;
    grid-template-rows: 350px;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
}

.it main div{
    background-color: white;
}

.it main h3,p{
    text-align: center;
    color:black;
}

.form{
    margin: 100px 150px 100px 150px;
    background-color: rgb(87, 87, 209);
    color:white;
    padding-bottom:40px;
}

.form main{
    padding:20px;
    display:grid;
    color: rgb(145, 145, 185);
    grid-template-rows: repeat(2,60px);
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}

.form main input{
    border-style: none;
    background-color: rgb(176, 176, 231);
}

::placeholder,select{
    background-color: rgb(176, 176, 231);
    border-style: none;
    color:white;
    padding:15px;
    font-size:15px;
}

.form textarea{
    border-style:none;
    height:100px;
    margin:25px;
    width:96%;
    background-color: rgb(176, 176, 231);
}

.submit{
    background-color: white;
    display: block;
    margin: auto;
    text-align: center;
    color: rgb(106, 106, 204);
    padding:10px;
    width:10%;
}

.footer{
    background-color: rgb(21, 21, 88);
    padding:20px;
}

.footer main{
    padding:50px 150px 50px 150px;
    display:grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
}

.footer main div h1,h3{
    color:white;
    text-align: center;
}

.footer main div input{
    background-color: rgb(176, 176, 231);
    height:40px;
    width:100%;
    padding: 5px;
    border-style: none;
}


.footer main div p{
    text-align: center;
    color:rgb(145, 145, 185);
}

@media(max-width:299px)
{
    
    .content ul{
        display:none;

    }

    #div2{
        display: none;
    }

    .middlecontent{
        top:5%;
        left:25%;
        font-size:10px;
    }

    button{
        display:none;
    }

    #show{
        display:block;
    }

    .button2{
        top:70%;
        left:35%;
        font-size:12px;
        padding: 5px;
    }

    .fitness main{
        display:flex;
        flex-direction: column;
        margin:40px 0 40px 0;
    }
    
    .fitness main main{
        display:flex;
        flex-direction: column;
        margin:40px 0 40px 0;
    }

    .fitness main main main{
        display:flex;
        flex-direction: column;
        padding-bottom:40px;
        margin:40px 0 40px 0;
    }

    .fitness main main main main{
        width:20%;
    }

    .fitness{
        padding: 0;
        margin:5%;
    }

    .fitness main div p{
        font-size: 15px;
    }
    
    .yoga main{
        display:flex;
        flex-direction: column;
    }

    .yoga main div{
        margin-bottom:20px;
    }

    .whyus main{
        padding:0;
        display: flex;
        flex-direction: column;
        margin:0;
    }

    .whyus main div main{
        margin-bottom:50px;
    }

    .upcoming{
        margin: 0;
    }

    .upcoming main{
        display:flex;
        flex-direction: column;
    }

    .upcoming main div{
        margin:30px;
    }

    .gallery main{
        display: grid;
        grid-template-rows: repeat(4,200px);
        grid-template-columns: repeat(2,1fr);
    }
    
    .it{
        margin:0;
    }

    .it main{
        display:flex;
        flex-direction: column;
    }

    .it main div{
        padding:50px;
        margin:20px;
    }

    .form{
        margin:auto;
    }

    .form main{
        display:flex;
        flex-direction:column;
    }

    .form main input{
        height:60px;
        border-style: none;
        background-color: rgb(176, 176, 231);
        margin:20px;
    }
    
    .form main select{
        width:90%;
        margin:20px;
    }

    .form textarea{
        width:88%;
        margin:20px;
    }
    
    .submit{
        padding:10px;
        width:20%;
    }

    .footer{
        margin-top: 30px;
    }
    .footer main{
        margin:0;
        padding:0;
        display: flex;
        flex-direction: column;
    }

    .footer main div input{
        width:50%;
        display: block;
        margin: auto;
    }
}

@media(min-width:300px) and (max-width:389px)
{
    .content ul{
        display:none;
    }

    #div2{
        display: none;
    }

    .middlecontent{
        top:10%;
        left:25%;
        font-size:15px;
    }

    button{
        display:none;
    }

    #show{
        display:block;
    }

    .button2{
        top:78%;
        left:35%;
        font-size:10px;
        padding: 5px;
    }

    .fitness main{
        display:flex;
        flex-direction: column;
        margin:40px 0 40px 0;
    }
    
    .fitness main main{
        display:flex;
        flex-direction: column;
        margin:40px 0 30px 0;
    }

    .fitness main main main{
        display:flex;
        flex-direction: column;
        padding-bottom:40px;
        margin:40px 0 40px 0;
    }

    .fitness main main main main{
        width:20%;
    }

    .fitness{
        padding: 0;
        margin:5%;
    }

    .fitness main div p{
        font-size: 15px;
    }
    
    .yoga main{
        display:flex;
        flex-direction: column;
    }

    .yoga main div{
        margin:20px;
    }

    .whyus main{
        padding:0;
        display: flex;
        flex-direction: column;
        margin:30px;
    }

    .whyus main div main{
        margin-bottom:50px;
    }

    .whyus main div img{
        padding:0;
        margin:0;
    }

    .upcoming{
        margin: 0;
    }

    .upcoming main{
        display:flex;
        flex-direction: column;
    }

    .upcoming main div{
        margin:30px;
    }

    .gallery main{
        display: grid;
        grid-template-rows: repeat(4,200px);
        grid-template-columns: repeat(2,1fr);
    }
    
    .it{
        margin:0;
    }

    .it main{
        display:flex;
        flex-direction: column;
    }

    .it main div{
        padding:50px;
        margin:25px;
    }

    .form{
        margin:auto;
    }

    .form main{
        display:flex;
        flex-direction:column;
    }

    .form main input{
        height:60px;
        border-style: none;
        background-color: rgb(176, 176, 231);
        margin:20px;
    }
    
    .form main select{
        width:95%;
        margin:20px;
    }

    .form textarea{
        width:88%;
        margin:20px;
    }
    
    .submit{
        padding:10px;
        width:20%;
    }

    .footer{
        margin-top:30px;
    }

    .footer main{
        margin:0;
        padding:0;
        display: flex;
        flex-direction: column;
    }

    .footer main div input{
        width:50%;
        display: block;
        margin: auto;
    }
}

@media(min-width:390px) and (max-width:700px)
{
    .content ul{
        display:none;
    }

    #div2{
        display: none;
    }

    .middlecontent{
        top:5%;
        left:25%;
        font-size:20px;
    }

    button{
        display:none;
    }

    #show{
        display:block;
    }

    .button2{
        top:75%;
        left:35%;
        font-size:12px;
        padding: 5px;
    }

    .fitness main{
        display:flex;
        flex-direction: column;
        margin:40px 0 40px 0;
    }
    
    .fitness main main{
        display:flex;
        flex-direction: column;
        margin:40px 0 40px 0;
    }

    .fitness main main main{
        display:flex;
        flex-direction: column;
        padding-bottom:40px;
        margin:40px 0 40px 0;
    }

    .fitness main main main main{
        width:20%;
    }

    .fitness{
        padding: 0;
        margin:5%;
    }

    .fitness main div p{
        font-size: 15px;
    }
    
    .yoga main{
        display:flex;
        flex-direction: column;
    }

    .yoga main div{
        margin:20px;
    }

    .whyus main{
        padding:0;
        display: flex;
        flex-direction: column;
        margin:30px;
    }

    .whyus main div main{
        margin-bottom:50px;
    }

    .upcoming{
        margin: 0;
    }

    .upcoming main{
        display:flex;
        flex-direction: column;
    }

    .upcoming main div{
        margin:30px;
    }

    .gallery main{
        display: grid;
        grid-template-rows: repeat(4,200px);
        grid-template-columns: repeat(2,1fr);
    }
    
    .it{
        margin:0;
    }

    .it main{
        display:flex;
        flex-direction: column;
    }

    .it main div{
        padding:50px;
        margin:20px;
    }

    .form{
        margin:auto;
    }

    .form main{
        display:flex;
        flex-direction:column;
    }

    .form main input{
        height:60px;
        border-style: none;
        background-color: rgb(176, 176, 231);
        margin:20px;
    }
    
    .form main select{
        width:95%;
        margin:20px;
    }

    .form textarea{
        width:88%;
        margin:20px;
    }
    
    .submit{
        padding:10px;
        width:20%;
    }

    .footer main{
        margin:0;
        padding:0;
        display: flex;
        flex-direction: column;
    }

    .footer main div input{
        width:50%;
        display: block;
        margin: auto;
    }

}


@media (min-width:701px) and (max-width:1100px)
{
    .content ul{
        display: block;
        margin:auto;
    }

    .content{
        left:1px;
        right:10px;
    }

    li{
        font-size: 10px;
        padding: 5px;
    }

    .middlecontent{
        top:5%;
        font-size:30px;
    }

    .button2{
        top:70%;
        left:25%;
        font-size:15px;
        padding:5px;
    }

    .fitness main{
        display:flex;
        flex-direction: column;
        margin-top:30px;
    }
    
    .fitness main main{
        display:flex;
        flex-direction: column;
        margin-top:30px;
    }

    .fitness main main main{
        display:flex;
        flex-direction: column;
        margin-top:30px;
        margin-bottom: 20px;
    }

    .fitness main main main main{
        width:20%;
    }

    .fitness{
        margin:5%;
        padding:0;
    }

    .fitness main div p{
        font-size: 15px;
    }
    
    .yoga{
        margin:5%;
    } 

    .yoga main{
        display:grid;
        grid-template-rows: repeat(3,400px);
        grid-template-columns: repeat(2,1fr);
        grid-gap:20px;
    }
    
    .whyus{
        margin:0;
    }

    .whyus main{
        padding:0;
        display: flex;
        flex-direction: column;
        margin:30px;
    }

    .whyus main div main{
        margin-bottom:50px;
    }

    .upcoming{
        margin:0;
    }

    .upcoming main{
        grid-template-rows: 550px;
    }

    .gallery main{
        display: grid;
        grid-template-rows: repeat(4,200px);
        grid-template-columns: repeat(2,1fr);
    }
    
    .it{
        margin:50px;
    }
    .it main{
        grid-template-rows: 400px;
    }

    .form{
        margin:50px;
    }
    
    .form main{
        display:flex;
        flex-direction:column;
    }

    .form main input{
        height:60px;
        border-style: none;
        background-color: rgb(176, 176, 231);
        margin:20px;
    }
    
    .form main select{
        width:95%;
        margin:20px;
    }

    .form textarea{
        width:90%;
        margin: 15px;
        margin:20px;
    }
    
    .submit{
        padding:10px;
        width:20%;
    }

    .footer main{
        margin:0;
        padding:0;
        grid-template-rows: 390px;
    }    
}
